.post-item {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 5px;
    width: 300px;
}

.post-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#root {
    padding: 2px 16px;
}

.post-delete-button {
    position: absolute;
    top: 0;
    right: 0;
}